/* Navbar */
a.gi {
    text-decoration: none;
}
a.gi:hover {
    text-decoration: underline;
}

svg.google_apps {
    height: 32px;
    width: 32px;
}

.nav_icon img {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

